@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
body{
  font-size: 200%;
  background-color: #222629;
  color:#86C232;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
img{
  width: 85%;
  padding: 2px 2px 2px 2px;
}
h1{
  font-size: 75px;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  color: white;
}
footer{
  font-size: 60%;
  color: white;
}
.side{
  float:left;
  width:25%;
  height:80%;
  padding-right:10px;
  margin:auto;

}
.slide{
  float:right;
  width:15%;
  height:500px;
  padding-left:10px;

}
p{
 font-size: 35px;
 color:#86c033;
 font-family: 'Sarabun', sans-serif;
}
hr{
  border-top: medium dashed #6B6E70;
  border-top-style: dotted;
  border-bottom:0px;
}
nav{
  padding-bottom: 10px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;


}
nav > a{
  text-decoration:none;
  text-transform: uppercase;
  width:150px;
  text-align:center;
  color:#86c033;
}

p > a{
    color:#86c033;
    font-size: 60%;
}
@media screen and (min-width:480px) {
body{
  width: 95%;

}
h1{
  text-align: center;

}
}
