@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body{
  font-size:200%;
  background-color: #222629;
  color:#86c033;
  font-family: 'Sarabun', sans-serif;

}
.container{
  width: 50%;
  margin: auto;
  padding-bottom: 60px;
}
.home-address{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
h1{
  text-align: center;
  color:white;
}
.ah{
  text-indent: 50px;
  font-weight: bolder;
}
h2{
  color:white;
}
h3{
  color:white;
}
h4 {
    color:white ;

}

br{
  color: #def2f1;
}
footer{
  font-size: 60%;
  color: white;
}
nav{

  display:flex;
  flex-direction:row;
  justify-content:space-between;


}
nav > a{
  text-decoration:none;
  text-transform: uppercase;
  width:150px;
  text-align:center;
  color:#86c033;
}

p > a{
    color:#86c033;
}
@media screen and (min-width:480px) {
body{
  width: 95%;

}
h1{
  text-align: center;
}
}
